*.o
.deps/
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
configure
configure.ac
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
panel-plugin/systemload.desktop
panel-plugin/xfce4-systemload-plugin
po/*.gmo
po/.intltool-merge-cache
po/stamp-it
po/Makefile.in.in
po/POTFILES
stamp-h1
